/* Color ideas found with colormind.io */
/* Font ideas found with fontjoy.com */

    /* Color Schemes (http://colormind.io/bootstrap/) */
    /* light shades:        #F2F1F6 */
    /* light accent:        #F9B17C */
    /* main brand color:    #6586A7 */
    /* dark accent:         #598779 */
    /* dark shades:         #4E7078 */


:root {
    --light-shade: #EFF1F2;
    --light-accent: #9496BF;
    --main-color: #686666;
    --dark-accent: #7A7F86;
    --dark-shade: #1B221C;
}

body {
    background-color: var(--dark-shade);
}

br {
    display: block;
    line-height: 1em;
}

.card {
    border: 3px solid var(--light-shade);
    border-radius: 3px;
    background-color: var(--dark-shade);
    text-align: center;
    font-family: "Questrial", sans-serif;
    color: var(--light-shade);
    width: 60%;
    height: 100%;
    -webkit-transition: 0.2s;
}

.card:hover {
    text-decoration: none;
    color: var(--light-accent);
    -webkit-transition: 0.4s;
    transform: scale(1.1);
}

.card-deck {
    width: 100%
}

.column {
    float: left;
    width: 50%;
}

.container {
    font-family: "Questrial", sans-serif;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 47px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}  

.fa:hover {
    opacity: 0.8;
    -webkit-transition: 0.2s;
    text-decoration: none;
}

.fa-facebook, .fa-instagram, .fa-linkedin, .fa-google-plus, .fa-github {
    background: var(--light-accent);
    color: var(--light-shade);;
}

.footer {
    padding-block-start: 10%;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: var(--dark-shade);
    text-align: center;
}

html,body {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
}

.masthead {
    height: 95vh;
    min-height: 400px;
    background-image: url("./images/personal/fountain1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    -webkit-transition: background-image 5s;
  }

.navbar {
    padding-block-start: 0.5%;
    padding-block-end: 0.5%;
    padding-inline-end: 3%;
    background-color: var(--dark-shade);
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.5s ease-in-out;

    /* send navbar to front */
    z-index: 9999;
}

.navbar-brand {
    color: var(--light-shade);
    font-family: "Questrial", sans-serif;
    font-size: 50;
    padding-inline-start: 2%;
}

.navbar-brand:hover {
    color: var(--light-accent);
    -webkit-transition: 0.2s;
}

.navbar-hide {
    top: -56px;
}

.nav-link {
    color: var(--light-shade);
    font-family: "Questrial", sans-serif;
    -webkit-transition: 0.3s;
}

.nav-link:active {
    color: var(--light-accent);
}

.nav-link:hover {
    color: var(--light-accent);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 4px 4px 4px black;
}

.resume {
    border: 1px solid var(--light-shade);
    border-radius: 5px;
    -webkit-transition: 0.4s;
}
  
.resume:hover {
    background-color: var(--light-accent);
    color: var(--light-shade);
}

.text-muted {
    color: var(--light-shade)!important;
}

#active {
    color: var(--light-accent);
}

#projects {
    background-color: var(--dark-accent);
}

#projects-header {
    padding-block-start: 5%;
    color: var(--light-shade);
    font-family: "Questrial", sans-serif;
    text-align: center;
}

#projects-section {
    padding-left: 16.4%;
    padding-right: 15%;
}