/* Color ideas found with colormind.io */
/* Font ideas found with fontjoy.com */

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: #ECEDD0;
}